body {
	background: url('http://trytobegood.com/dynamic_interfaces2013/bouncingballBG.jpg');
}

#ball {
   /* top: 70px;*/
    position: absolute;
}

#box {
    
   
    width: 500px;
    height: 400px;
}